@charset "utf-8";
/* CSS Document */


body{
	
	background-color:#333;
	}
h5{
	background-color:#FC0;
	color:#000;
	padding-left:530px;
	word-spacing:5px;
	}				
.nav{
	background-color:#000;
	width:100%;
	border:1px solid #FC0;
	height:100px;
		}		
.col-sm-8{
	padding:10px;
	margin-top:15px;
		}
		
.col-sm-4{
	padding-top:110px;
	text-align:center;
	color:#FC0;
			}	
				
.col-sm-4:first-line{
	font-size:36px;
	color:#CCC;
	font-family:Georgia, "Times New Roman", Times, serif;
			}
.pra{
	text-align:center;
	
	}			
.footer{
	background-color:#000;
	color:#FC0;
	padding-top:10px;
	margin-top:10px;
	}
.fot-nav{
	background-color:#FC0;
	text-align:center;
	margin-top:15px;
	color:#666;
	}	
p{
	color:#FC0;
	text-align:center;
	}	
.up-arrow{
	margin-left:49%;
	}
.fa:hover {
    opacity: 0.9;
}
.fa-facebook {
  background: #3B5998;
  color: #FFF;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.social{
	text-align:right;
	}

